* {
    margin: 0px;
}

.big-box {
    border: solid 10px red;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.load-text {
    border: solid 10px turquoise;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

.load-text > p {
    font-size: 10vh;
    text-align: center;
}

.Mathematics {
    border: solid 10px purple;
    flex-grow: 1;
}

.Mathematics > h1 {
    font-size: 77px;
}

#hoome {
    width: 300px;
    height: 100px;
    font-size: 50px;
}
